{% extends "base.html" %}

  {% block content %}

  <!-- HERO -->

  <div class="jumbotron text-center mt-4">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">{{ subtitle }}</p>
    <p class="mt-5 w-50 mx-auto">{{ description }}</p>
  </div>

  <!-- CARDS -->

  <div class="row mt-5">
    {% for tour in tours %}
    <div class="col-4">
      <div class="card mb-3">
        {% if tour.picture %}
        <img src="{{ tour.picture }}" class="card-img-top img-fluid">
        {% else %}
        <img src="https://place-hold.it/300x200" class="card-img-top img-fluid">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tour.title }}</h5>
          <p class="card-text">{{ tour.description }}</p>
          <a href="/tours/{{ tour.id }}" class="btn btn-sm btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}

